<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Web Audio Synthesizer</title>
        <meta name="viewport" content="width=916,initial-scale=1">
	    <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/monkeypatch-audio")

        <script src="~/Scripts/platform.js"></script>
        <link rel="import" href="webcomponents/polymer.html">
        <link rel="import" href="webcomponents/controls.html">

        
    </head>
    <body>
        <header>
        </header>
        <div id="body">
            <section class="content-wrapper clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
        </footer>

        @RenderSection("scripts", required: false)
    </body>

</html>
